Repository elyra-ai/elyra, pull requests merged in 2020-06, with the labels that each got.

#599 [user guide] Fix broken img href in enhanced-python-support.html
  docs/source/user_guide/enhanced-python-support.md
Labels: area:documentation

#627 Update default runtime-images to latest versions
  etc/config/metadata/runtime-images/anaconda.json
  etc/config/metadata/runtime-images/pandas.json
  etc/config/metadata/runtime-images/pytorch-devel.json
  etc/config/metadata/runtime-images/pytorch-runtime.json
  etc/config/metadata/runtime-images/tensorflow_2x_gpu_py3.json
  etc/config/metadata/runtime-images/tensorflow_2x_py3.json
Labels: component:metadata

#600 Update kfp-notebook package imports
  elyra/pipeline/processor_kfp.py
  elyra/templates/kfp_template.jinja2
Labels: priority:high

#698 Properly set pipeline version on new pipelines
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
  packages/pipeline-editor/src/constants.ts
  packages/pipeline-editor/src/pipeline-template.json
  packages/pipeline-editor/src/utils.ts
Labels: component:pipeline-editor
