Repository elyra-ai/elyra, pull requests merged in 2020-08, with the labels that each got.

#797 Add additional string resources to the Pipeline Editor Canvas
  packages/pipeline-editor/src/en.json
Labels: component:pipeline-editor

#811 Initialize new nodes with empty values
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
Labels: area:front-end, component:pipeline-editor

#767 Update clean-jupyterlab to Install Debugger and Xeus python on dev env
  etc/scripts/clean-jupyterlab.sh
Labels: component:build

#844 Update pipeline toolbar to support dark theme
  packages/pipeline-editor/style/canvas.css
Labels: area:front-end, component:pipeline-editor

#856 Update Pipeline toolbar styling in Safari
  packages/pipeline-editor/style/canvas.css
Labels: area:front-end, browser:safari, component:pipeline-editor

#881 Enable file browser for dependencies in pipeline node properties
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
  packages/pipeline-editor/src/properties.json
  packages/pipeline-editor/style/index.css
  packages/ui-components/src/BrowseFileDialog.tsx
Labels: area:front-end, component:pipeline-editor

#891 Update with conda install instructions
  README.md
  docs/source/getting_started/installation.md
Labels: area:documentation

#897 add runtime image documentation to user guide
  docs/source/images/runtime-images-ui.png
  docs/source/index.rst
  docs/source/user_guide/runtime-image-conf.md
Labels: area:documentation, kind:enhancement

#900 Update README.md
  README.md
Labels: area:documentation
