Repository elyra-ai/elyra, pull requests merged in 2020-07, with the labels that each got.

#699 Add http:// to user_guide/runtime-conf.md
  docs/source/user_guide/runtime-conf.md
Labels: area:documentation

#706 Add support for JupyterLab Dark theme
  packages/code-snippet/src/CodeSnippetWidget.tsx
  packages/code-snippet/src/index.ts
  packages/code-snippet/style/index.css
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
  packages/pipeline-editor/style/canvas.css
  packages/python-runner/style/index.css
  packages/theme/style/index.css
  packages/ui-components/style/icons/codait-piebrainlogo-jupyter-color.svg
  packages/ui-components/style/icons/code-snippet.svg
  packages/ui-components/style/icons/pipeline-flow.svg
  packages/ui-components/style/index.css
Labels: area:front-end

#724 Remove class from SVG elements
  packages/code-snippet/style/index.css
  packages/ui-components/style/icons/codait-piebrainlogo-jupyter-color.svg
  packages/ui-components/style/icons/code-snippet.svg
  packages/ui-components/style/icons/pipeline-flow.svg
  packages/ui-components/style/index.css
Labels: area:front-end, browser:chrome, browser:firefox

#726 Add changelog to Elyra documentation
  docs/source/getting_started/changelog.md
Labels: area:documentation

#729 Allow code editor to be resized
  packages/code-snippet/style/index.css
  packages/metadata-editor/src/MetadataEditor.tsx
  packages/metadata-editor/style/index.css
Labels: area:front-end, component:metadata-editor, kind:bug

#743 Replace Pipeline Editor toolbar icons when in dark mode
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
  packages/pipeline-editor/src/index.ts
  packages/pipeline-editor/src/utils.ts
  packages/pipeline-editor/style/canvas.css
  packages/ui-components/src/icons.tsx
Labels: area:front-end, component:pipeline-editor

#766 Update readme to clarify how to install Elyra + Lab 2.x
  README.md
Labels: area:documentation

#771 Update clear pipeline button behavior
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
Labels: area:front-end, component:pipeline-editor

#773 Provide visual feedback when copying code snippet
  packages/code-snippet/src/CodeSnippetWidget.tsx
  packages/ui-components/src/ExpandableComponent.tsx
  packages/ui-components/src/FeedbackButton.tsx
  packages/ui-components/style/index.css
Labels: area:front-end, component:code-snippets

#772 Update add code snippet button hover behavior
  packages/code-snippet/src/CodeSnippetWidget.tsx
  packages/code-snippet/style/index.css
Labels: area:front-end, component:code-snippets

#788 Update to canvas version 9.0.2
  packages/pipeline-editor/package.json
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
Labels: area:front-end, component:pipeline-editor
