Repository elyra-ai/elyra, pull requests merged in 2021-09, with the labels that each got.

#2043 Move kfp-tekton to extras
  Makefile
  elyra/kfp/operator.py
  elyra/pipeline/processor_kfp.py
  setup.py
Labels: impact:needs doc updates

#2086 Expose pipeline description to runtime environments
  elyra/pipeline/parser.py
  elyra/pipeline/pipeline.py
  elyra/pipeline/processor_airflow.py
  elyra/pipeline/processor_kfp.py
Labels: kind:enhancement, component:pipeline-runtime

#2098 fix broken link in CLI documentation topic
  docs/source/user_guide/command-line-interface.md
Labels: kind:bug, area:documentation

#2068 Fix mismatched runtime handling for run command
  elyra/cli/pipeline_app.py
Labels: component: CLI-tools

#2099 Treat doc build warnings as errors
  docs/Makefile
Labels: area:documentation, component:build

#2092 Add support for private container image registries
  docs/source/images/user_guide/runtime-image-conf/runtime-images-ui.png
  docs/source/user_guide/runtime-image-conf.md
  elyra/metadata/schemas/runtime-image.json
  elyra/pipeline/processor_airflow.py
  elyra/pipeline/processor_kfp.py
  elyra/templates/airflow/airflow_template.jinja2
Labels: component:pipeline-runtime, platform: pipeline-Kubeflow, platform: pipeline-Airflow

#2148 Add notes about packaging change to installation documentation
  docs/source/getting_started/installation.md
Labels: area:documentation, component:install

#2149 Update documentation for Troubleshooting and Contribution sections
  docs/source/developer_guide/contributing.md
  docs/source/developer_guide/documentation.md
  docs/source/developer_guide/testing.md
  docs/source/developer_guide/troubleshooting.md
  docs/source/index.rst
Labels: area:documentation

#2104 Add manage pipeline components content to user guide
  docs/source/images/user_guide/pipeline-components/cmd-palette.png
  docs/source/images/user_guide/pipeline-components/custom-kubeflow-components-in-palette.png
  docs/source/images/user_guide/pipeline-components/example-components-pipeline.png
  docs/source/images/user_guide/pipeline-components/generic-components-in-palette.png
  docs/source/images/user_guide/pipeline-components/pipeline-components-ui.png
  docs/source/images/user_guide/pipeline-components/sidebar-button.png
  docs/source/images/user_guide/pipeline-components/toolbar-manage-button.png
  docs/source/user_guide/command-line-interface.md
  docs/source/user_guide/pipeline-components.md
Labels: area:documentation

#2169 Parallelize reading of component definitions in registry
  elyra/pipeline/airflow/tests/test_component_parser_airflow.py
  elyra/pipeline/component.py
  elyra/pipeline/component_registry.py
  elyra/pipeline/kfp/tests/test_component_parser_kfp.py
Labels: component:component-registry, component:performance

#2178 Add link to KFP custom component tutorial to documentation
  docs/source/getting_started/tutorials.md
Labels: area:documentation
