Repository elyra-ai/elyra, pull requests merged in 2022-10, with the labels that each got.

#2943 Pipeline editor: Allow for configuration of labels
  docs/source/user_guide/pipelines.md
  elyra/pipeline/airflow/processor_airflow.py
  elyra/pipeline/component_parameter.py
  elyra/pipeline/kfp/processor_kfp.py
  elyra/pipeline/pipeline_constants.py
  elyra/pipeline/processor.py
  elyra/templates/airflow/airflow_template.jinja2
  elyra/tests/pipeline/airflow/test_component_parser_airflow.py
  elyra/tests/pipeline/kfp/test_component_parser_kfp.py
  elyra/tests/pipeline/resources/additional_generic_properties.json
  elyra/tests/pipeline/test_handlers.py
  elyra/util/kubernetes.py
  tests/snapshots/pipeline-editor-tests/matches-complex-pipeline-snapshot.1.snap
  tests/snapshots/pipeline-editor-tests/matches-simple-pipeline-snapshot.1.snap
Labels: kind:enhancement, component:pipeline-editor

#2946 Fix rendering of toleration effect in generic components
  elyra/pipeline/airflow/processor_airflow.py
Labels: kind:bug, component:pipeline-editor

#2947 Fix annotations and label processing
  elyra/pipeline/airflow/processor_airflow.py
  elyra/pipeline/component_parameter.py
  elyra/pipeline/kfp/processor_kfp.py
  elyra/tests/pipeline/resources/additional_generic_properties.json
  elyra/tests/pipeline/test_validation.py
  elyra/tests/util/test_kubernetes.py
  elyra/util/kubernetes.py
Labels: kind:bug, component:pipeline-editor

#2950 Update pipeline editor node package to 1.10
  packages/pipeline-editor/package.json
Labels: component:pipeline-editor

#2960 Add 'Review of the latest Elyra Pipeline Editor improvements' blog post
  docs/source/getting_started/published-resources.md
Labels: area:documentation

#2962 kf-notebook Dockerfile: upgrade Jupyter base image from v1.4 to v1.5
  etc/docker/kubeflow/Dockerfile
  etc/docker/kubeflow/README.md
Labels: component:docker

#2957 Prepare to make all Elyra-owned properties object-valued
  elyra/pipeline/component_parameter.py
  elyra/pipeline/pipeline_definition.py
  elyra/tests/pipeline/resources/additional_generic_properties.json
  elyra/tests/pipeline/resources/sample_pipelines/pipeline_valid_with_pipeline_default.json
  elyra/tests/pipeline/test_pipeline_definition.py
Labels: component:pipeline-editor

#2961 Pipeline Editor: Extend data volume node property
  docs/source/user_guide/pipelines.md
  elyra/pipeline/airflow/processor_airflow.py
  elyra/pipeline/component_parameter.py
  elyra/pipeline/kfp/processor_kfp.py
  elyra/tests/pipeline/resources/additional_generic_properties.json
  elyra/tests/pipeline/test_pipeline_definition.py
  elyra/tests/pipeline/test_validation.py
Labels: kind:enhancement, component:pipeline-editor

#2968 Tolerate runtime configuration instances named 'local'
  elyra/cli/pipeline_app.py
  elyra/pipeline/parser.py
  elyra/pipeline/pipeline.py
  elyra/pipeline/validation.py
  elyra/tests/pipeline/test_pipeline_constructor.py
  elyra/tests/pipeline/test_pipeline_parser.py
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
Labels: kind:bug, component:pipeline-runtime

#2942 Pipeline Editor: Allow for configuration of shared memory size
  docs/source/user_guide/pipelines.md
  elyra/pipeline/airflow/processor_airflow.py
  elyra/pipeline/component_parameter.py
  elyra/pipeline/kfp/processor_kfp.py
  elyra/pipeline/pipeline_constants.py
  elyra/pipeline/processor.py
  elyra/tests/pipeline/airflow/test_component_parser_airflow.py
  elyra/tests/pipeline/kfp/test_component_parser_kfp.py
  elyra/tests/pipeline/resources/additional_generic_properties.json
  elyra/tests/pipeline/test_handlers.py
  elyra/tests/pipeline/test_validation.py
  packages/pipeline-editor/package.json
  packages/pipeline-editor/style/index.css
  tests/snapshots/pipeline-editor-tests/matches-complex-pipeline-snapshot.1.snap
  tests/snapshots/pipeline-editor-tests/matches-simple-pipeline-snapshot.1.snap
  yarn.lock
Labels: kind:enhancement, component:pipeline-editor, impact:requires-pipeline-editor-release

#2972 Fix handling of `cos_object_prefix` pipeline property
  elyra/pipeline/airflow/processor_airflow.py
  elyra/pipeline/component_parameter.py
  elyra/pipeline/kfp/processor_kfp.py
  elyra/pipeline/parser.py
  elyra/pipeline/pipeline.py
  elyra/pipeline/pipeline_constants.py
  elyra/pipeline/pipeline_definition.py
  elyra/tests/pipeline/airflow/test_processor_airflow.py
  elyra/tests/pipeline/kfp/test_processor_kfp.py
  elyra/tests/pipeline/resources/sample_pipelines/pipeline_dependency_complex.json
Labels: kind:bug, component:pipeline-editor

#2977 Fix debugger button state on kernel selection change
  packages/script-debugger/src/index.ts
Labels: component:script-debugger

#2981 Skip DisableNodeCaching instance conversion on subsequent attempts
  elyra/pipeline/component_parameter.py
Labels: kind:bug, component:pipeline-editor

#2971 Add integration tests for Script debugger
  tests/integration/01-scriptdebugger.ts
Labels: component:test
