Repository elyra-ai/elyra, pull requests merged in 2022-03, with the labels that each got.

#2492 Support well-defined ComponentDefinition return values for catalog connectors
  elyra/pipeline/airflow/component_parser_airflow.py
  elyra/pipeline/airflow/processor_airflow.py
  elyra/pipeline/catalog_connector.py
  elyra/pipeline/component.py
  elyra/pipeline/component_catalog.py
  elyra/pipeline/kfp/component_parser_kfp.py
  elyra/tests/pipeline/airflow/test_component_parser_airflow.py
  elyra/tests/pipeline/kfp/test_component_parser_kfp.py
  elyra/tests/pipeline/kfp/test_processor_kfp.py
  setup.py
Labels: kind:enhancement

#2507 Add script editor output integration tests
  tests/integration/scripteditor.ts
Labels: component:test, area:front-end

#2511 Allow pipelines to be opened with the JSON widget
  packages/pipeline-editor/src/index.ts
Labels: kind:enhancement

#2518 Update built-in catalog connectors to use new connector API
  elyra/pipeline/catalog_connector.py
  elyra/tests/pipeline/airflow/test_component_parser_airflow.py
  elyra/tests/pipeline/kfp/test_component_parser_kfp.py
  elyra/tests/pipeline/kfp/test_processor_kfp.py
Labels: component:catalog connectors

#2520 Use well-defined EntryData return values in Airflow catalog connectors
  elyra/pipeline/airflow/package_catalog_connector/airflow_package_catalog_connector.py
  elyra/pipeline/airflow/provider_package_catalog_connector/airflow_provider_package_catalog_connector.py
  elyra/tests/pipeline/airflow/test_airflow_package_connector.py
  elyra/tests/pipeline/airflow/test_airflow_provider_package_connector.py
  test_requirements.txt
Labels: kind:enhancement, platform: pipeline-Airflow, component:catalog connectors

#2531 Add a refresh button the header of Metadata Widget
  packages/metadata-common/src/MetadataHeaderButtons.tsx
  packages/metadata-common/src/MetadataWidget.tsx
  packages/metadata-common/src/index.ts
  packages/metadata-common/style/index.css
Labels: kind:enhancement, component:metadata-editor

#2530 Simplify integration tests for runtime configs
  tests/integration/pipeline.ts
  tests/integration/scripteditor.ts
  tests/integration/submitnotebookbutton.ts
  tests/support/commands.ts
  tests/support/index.d.ts
Labels: component:test

#2536 Update Makefile python and pip calls to use python3
  Makefile
Labels: component:build

#2533 Sanitize KFP input/output params in kwargs
  elyra/pipeline/kfp/processor_kfp.py
Labels: kind:bug, component:pipeline-runtime, platform: pipeline-Kubeflow

#2529 Remove references to deprecated 'elyra-examples-airflow-catalog' package
  docs/source/getting_started/installation.md
  docs/source/images/user_guide/pipeline-components/example-components-pipeline.png
  docs/source/user_guide/pipeline-components.md
  etc/docker/elyra/Dockerfile
  etc/docker/elyra/Dockerfile.dev
  setup.py
  tests/integration/pipeline.ts
  tests/integration/submitnotebookbutton.ts
Labels: area:documentation, component:build, platform: pipeline-Airflow, component:examples

#2517 Add setting to specify node double click behavior
  packages/pipeline-editor/package.json
  packages/pipeline-editor/schema/plugin.json
  packages/pipeline-editor/src/EmptyPipelineContent.tsx
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
  packages/pipeline-editor/src/index.ts
  packages/pipeline-editor/style/index.css
Labels: kind:enhancement, component:pipeline-editor

#2547 Update documentation that describes how to create custom runtime images
  docs/source/recipes/creating-a-custom-runtime-image.md
Labels: area:documentation

#2568 Fix broken link in 'command line interface' topic
  docs/source/user_guide/command-line-interface.md
Labels: kind:bug, area:documentation

#2574 Update CLI export command and documentation
  docs/source/user_guide/code-snippets.md
  docs/source/user_guide/pipeline-components.md
  docs/source/user_guide/runtime-conf.md
  docs/source/user_guide/runtime-image-conf.md
  elyra/metadata/metadata_app.py
  elyra/tests/metadata/test_metadata_app.py
Labels: component:cli-tools

#2569 Update docs for configuring Apache airflow
  docs/source/recipes/configure-airflow-as-a-runtime.md
  etc/kubernetes/airflow/helm/values.yaml
Labels: area:documentation

#2553 New extension - Code Viewer
  Makefile
  README.md
  create-release.py
  docs/source/developer_guide/release.md
  docs/source/getting_started/installation.md
  packages/code-viewer/package.json
  packages/code-viewer/src/CodeViewerWidget.ts
  packages/code-viewer/src/index.ts
  packages/code-viewer/style/index.css
  packages/code-viewer/tsconfig.json
Labels: kind:enhancement, component:code-viewer

#2578 Add support for elyra-metadata 'create' and 'update' commands
  docs/source/recipes/deploying-kubeflow-locally-for-dev.md
  docs/source/user_guide/code-snippets.md
  docs/source/user_guide/command-line-interface.md
  docs/source/user_guide/pipeline-components.md
  docs/source/user_guide/runtime-conf.md
  docs/source/user_guide/runtime-image-conf.md
  elyra/metadata/metadata_app.py
  elyra/tests/metadata/test_metadata_app.py
  etc/docker/elyra/Dockerfile
  etc/docker/elyra/Dockerfile.dev
  etc/docker/kubeflow/Dockerfile
  etc/docker/kubeflow/Dockerfile.dev
  tests/support/commands.ts
Labels: area:documentation, kind:enhancement, component:build, component:cli-tools

#2583 Update python dependencies to address security issues
  lint_requirements.txt
  setup.py
  test_requirements.txt
Labels: component:build, dependencies

#2589 Update Jinja2 dependencies
  etc/generic/requirements-elyra.txt
  setup.py
Labels: component:build, dependencies

#2591 Add troubleshooting information for 'component not found' errors
  docs/source/user_guide/best-practices-custom-pipeline-components.md
Labels: area:documentation, kind:enhancement

#2582 Add support for 'export' command to elyra-pipeline CLI
  docs/source/user_guide/command-line-interface.md
  docs/source/user_guide/pipelines.md
  elyra/cli/pipeline_app.py
  elyra/tests/cli/resources/pipelines/airflow.pipeline
  elyra/tests/cli/resources/pipelines/generic.pipeline
  elyra/tests/cli/resources/pipelines/hello.ipynb
  elyra/tests/cli/resources/pipelines/kfp_3_node_custom.pipeline
  elyra/tests/cli/resources/pipelines/kubeflow_pipelines.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_with_zero_length_pipelines_field.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_with_zero_nodes.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_without_pipelines_field.pipeline
  elyra/tests/cli/resources/runtime_configs/valid_airflow_test_config.json
  elyra/tests/cli/resources/runtime_configs/valid_kfp_test_config.json
  elyra/tests/cli/test_pipeline_app.py
Labels: kind:enhancement, component:cli-tools

#2522 Make component cache event-driven to allow out-of-proc updates
  conftest.py
  elyra/api/elyra.yaml
  elyra/elyra_app.py
  elyra/metadata/manager.py
  elyra/metadata/storage.py
  elyra/pipeline/component_catalog.py
  elyra/pipeline/component_metadata.py
  elyra/pipeline/handlers.py
  elyra/tests/cli/test_pipeline_app.py
  elyra/tests/pipeline/airflow/test_component_parser_airflow.py
  elyra/tests/pipeline/airflow/test_processor_airflow.py
  elyra/tests/pipeline/kfp/test_component_parser_kfp.py
  elyra/tests/pipeline/kfp/test_processor_kfp.py
  elyra/tests/pipeline/test_handlers.py
  elyra/tests/pipeline/test_validation.py
  tests/integration/pipeline.ts
Labels: kind:bug

#2584 Add support for KFP pipeline run monitoring to 'elyra-pipeline submit' command
  docs/source/user_guide/pipelines.md
  elyra/cli/pipeline_app.py
  elyra/pipeline/kfp/processor_kfp.py
  elyra/tests/cli/test_pipeline_app.py
Labels: kind:enhancement, component:cli-tools

#2593 Temporary fix to metadata editor display bug
  packages/metadata/src/index.ts
Labels: kind:bug, component:metadata-editor

#2564 Enable display of custom component definitions
  Makefile
  create-release.py
  elyra/elyra_app.py
  elyra/pipeline/airflow/component_parser_airflow.py
  elyra/pipeline/catalog_connector.py
  elyra/pipeline/component.py
  elyra/pipeline/component_catalog.py
  elyra/pipeline/handlers.py
  elyra/pipeline/kfp/component_parser_kfp.py
  elyra/pipeline/processor.py
  elyra/templates/components/canvas_properties_template.jinja2
  elyra/tests/pipeline/airflow/test_component_parser_airflow.py
  elyra/tests/pipeline/kfp/test_component_parser_kfp.py
  elyra/tests/pipeline/test_handlers.py
  packages/code-viewer/src/index.ts
  packages/pipeline-editor/package.json
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
  packages/pipeline-editor/src/PipelineService.tsx
  yarn.lock
Labels: kind:enhancement, component:pipeline-editor

#2600 Relax component YAML validation requirements for certain fields
  elyra/pipeline/kfp/kfp_component_utils.py
  elyra/tests/pipeline/resources/components/kfp_test_operator.yaml
Labels: kind:bug

#2602 Convert bytes and bytearray types to string for Component definition attribute
  elyra/pipeline/catalog_connector.py
  elyra/pipeline/component.py
Labels: kind:bug

#2532 Create Component Catalogs Widget
  packages/metadata-common/src/MetadataHeaderButtons.tsx
  packages/metadata-common/src/MetadataWidget.tsx
  packages/pipeline-editor/src/ComponentCatalogsWidget.tsx
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
  packages/pipeline-editor/src/PipelineService.tsx
  packages/pipeline-editor/src/index.ts
  packages/pipeline-editor/src/pipeline-hooks.ts
  packages/services/src/requests.ts
Labels: kind:enhancement, component:metadata-editor

#2611 Add ComponentCache load to relevant pipeline app commands
  elyra/cli/pipeline_app.py
  elyra/pipeline/component_catalog.py
  elyra/pipeline/validation.py
  elyra/tests/cli/test_pipeline_app.py
Labels: kind:bug, component:cli-tools

#2613 Update Launcher to work with other languages
  packages/theme/src/index.ts
  packages/theme/src/launcher.tsx
Labels: kind:bug
