Repository elyra-ai/elyra, pull requests merged in 2022-11, with the labels that each got.

#2997 Document how to refresh component catalog entries
  docs/source/images/user_guide/pipeline-components/component-catalogs-ui.png
  docs/source/user_guide/pipeline-components.md
Labels: area:documentation, kind:enhancement

#2993 Rewrite KFP code generation
  docs/source/user_guide/pipelines.md
  elyra/cli/pipeline_app.py
  elyra/kfp/operator.py
  elyra/pipeline/kfp/processor_kfp.py
  elyra/pipeline/runtime_type.py
  elyra/templates/kubeflow/v1/generic_component_definition_template.jinja2
  elyra/templates/kubeflow/v1/python_dsl_template.jinja2
  elyra/tests/cli/resources/pipelines/airflow.pipeline
  elyra/tests/cli/test_pipeline_app.py
  elyra/tests/kfp/test_operator.py
  elyra/tests/pipeline/kfp/test_processor_kfp.py
  elyra/tests/pipeline/resources/test_pipelines/kfp/a-notebook.ipynb
  elyra/tests/pipeline/resources/test_pipelines/kfp/kfp-one-node-generic-elyra-properties.pipeline
  elyra/tests/pipeline/resources/test_pipelines/kfp/kfp-one-node-generic.pipeline
  elyra/tests/util/test_kubernetes.py
  elyra/util/kubernetes.py
  test_requirements.txt
  tests/assets/generic-test.pipeline
  tests/integration/pipeline.ts
Labels: kind:enhancement, component:pipeline-runtime, platform: pipeline-Kubeflow

#3012 Fix bug with propagation of node caching property
  elyra/pipeline/component_parameter.py
  elyra/tests/pipeline/resources/sample_pipelines/pipeline_valid_with_pipeline_default.json
  elyra/tests/pipeline/test_pipeline_definition.py
Labels: kind:bug, impact:blocker

#3015 Update GH pull request template
  .github/PULL_REQUEST_TEMPLATE
Labels: area:documentation

#3003 Removed unused KeyValueList class
  elyra/pipeline/pipeline.py
Labels: component:pipeline-runtime

#3011 Add reference to latest Elyra blog post to the documentation
  docs/source/getting_started/published-resources.md
Labels: area:documentation

#3021 Address some code scan issues
  elyra/metadata/storage.py
  elyra/pipeline/pipeline.py
Labels: component:test

#3027 Fix code of conduct
  CODE_OF_CONDUCT.md
Labels: kind:bug

#2999 Allow for custom export file name
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
  packages/pipeline-editor/src/PipelineExportDialog.tsx
Labels: kind:enhancement, component:pipeline-editor, area:front-end, sizing: XS

#3026 Validation: reject binary property input files for custom components
  elyra/pipeline/validation.py
  elyra/tests/pipeline/test_validation.py
Labels: kind:bug, component:pipeline validation, sizing: XS

#3022 Add and update KFP processor tests
  elyra/tests/pipeline/kfp/conftest.py
  elyra/tests/pipeline/kfp/test_processor_kfp.py
  elyra/tests/pipeline/resources/test_pipelines/kfp/consumer-producer.ipynb
  elyra/tests/pipeline/resources/test_pipelines/kfp/consumer.ipynb
  elyra/tests/pipeline/resources/test_pipelines/kfp/kfp-multi-node-generic.pipeline
  elyra/tests/pipeline/resources/test_pipelines/kfp/producer.ipynb
  elyra/tests/pipeline/resources/test_pipelines/kfp/producer_2.ipynb
  elyra/tests/pipeline/test_processor.py
Labels: component:test, sizing: S

#3029 Support config GPU vendor
  docs/source/user_guide/pipelines.md
  elyra/pipeline/kfp/processor_kfp.py
  elyra/pipeline/pipeline.py
  elyra/pipeline/validation.py
  elyra/templates/components/generic_properties_template.jinja2
  elyra/templates/kubeflow/v1/python_dsl_template.jinja2
  elyra/tests/pipeline/test_pipeline_constructor.py
  elyra/util/kubernetes.py
  packages/pipeline-editor/style/index.css
Labels: kind:enhancement, component:pipeline-editor, platform: pipeline-Kubeflow, sizing: XS

#3031 lint Jupyter notebooks
  elyra/tests/cli/resources/pipelines/hello.ipynb
  elyra/tests/cli/resources/pipelines/notebooks/notebook_1.ipynb
  elyra/tests/cli/resources/pipelines/notebooks/notebook_2.ipynb
  elyra/tests/contents/resources/parse_no_language.ipynb
  elyra/tests/contents/resources/parse_python.ipynb
  elyra/tests/pipeline/resources/node_util/node.ipynb
  lint_requirements.txt
  setup.py
  tests/assets/helloworld.ipynb
  tests/assets/pipelines/consumer.ipynb
  tests/assets/pipelines/producer.ipynb
Labels: component:test, kind:CI, sizing: XS

#3032 Address warnings produced by tests
  elyra/pipeline/catalog_connector.py
  elyra/pipeline/elyra_engine.py
  elyra/tests/metadata/test_metadata.py
  elyra/tests/metadata/test_metadata_app.py
  elyra/tests/pipeline/airflow/test_component_parser_airflow.py
  elyra/tests/pipeline/airflow/test_processor_airflow.py
  elyra/tests/pipeline/kfp/test_processor_kfp.py
  elyra/tests/pipeline/resources/components/airflow_test_operator.py
  pytest.ini
Labels: component:test, area:back-end, kind:CI, sizing: XS

#3033 Add Python 3.11 support
  .github/workflows/build.yml
  Makefile
  elyra/airflow/bootstrapper.py
  elyra/kfp/bootstrapper.py
  elyra/tests/kfp/test_bootstrapper.py
  etc/generic/requirements-elyra-py37.txt
  etc/generic/requirements-elyra.txt
  setup.py
Labels: component:test, kind:CI, sizing: XS
