Repository elyra-ai/elyra, pull requests merged in 2022-09, with the labels that each got.

#2914 Account for how canvas handles icon size
  elyra/static/icons/py-logo.svg
  elyra/static/icons/r-logo.svg
Labels: kind:bug, component:pipeline-editor

#2870 Error Dialog Integration Tests
  tests/integration/pipeline.ts
  tests/support/commands.ts
  tests/support/index.d.ts
Labels: component:test, mentoring:RCOS

#2912 Support not publicly trusted certificates in built-in component catalog connectors
  docs/source/user_guide/pipeline-components.md
  elyra/pipeline/airflow/package_catalog_connector/airflow_package_catalog_connector.py
  elyra/pipeline/airflow/provider_package_catalog_connector/airflow_provider_package_catalog_connector.py
  elyra/pipeline/catalog_connector.py
  elyra/tests/util/test_url.py
  elyra/util/url.py
Labels: kind:enhancement, component:catalog connectors

#2928 Add migration section to the pipeline documentation topic
  docs/source/user_guide/pipelines.md
Labels: area:documentation

#2930 Document how to identify installed Elyra version
  docs/source/getting_started/troubleshooting.md
  docs/source/images/getting_started/troubleshooting/lookuop-version-in-documentation.png
  docs/source/images/getting_started/troubleshooting/lookup-version-in-launcher.png
Labels: area:documentation

#2935 Update parse-url dependency due to CVE-2022-2900
  package.json
  yarn.lock
Labels: component:build

#2940 Fix typo in filename
  docs/source/getting_started/troubleshooting.md
  docs/source/images/getting_started/troubleshooting/lookup-version-in-documentation.png
Labels: area:documentation
