Repository elyra-ai/elyra, pull requests merged in 2022-12, with the labels that each got.

#3040 Fix generic component schema to unblock frontend changes to file browse feature
  elyra/templates/components/generic_properties_template.jinja2
  packages/pipeline-editor/package.json
  yarn.lock
Labels: component:pipeline-editor

#3051 Add version cap to Jupyterlab
  build_requirements.txt
  setup.py
Labels: component:build

#3048 Properly escape string property inputs
  elyra/templates/kubeflow/v1/python_dsl_template.jinja2
Labels: kind:bug, component:pipeline-editor

#3039 Export documentation
  docs/source/images/user_guide/pipelines/configure-pipeline-export-options.png
  docs/source/user_guide/pipelines.md
Labels: area:documentation

#3052 Add new integration test for testing custom export filename
  tests/integration/pipeline.ts
Labels: component:test

#3055 Cap jupyter-events to <0.5.0 due to jsonschema version conflict
  setup.py
Labels: component:build

#3001 Add support for pipeline parameters
  elyra/cli/pipeline_app.py
  elyra/elyra_app.py
  elyra/kfp/bootstrapper.py
  elyra/pipeline/airflow/component_parser_airflow.py
  elyra/pipeline/airflow/processor_airflow.py
  elyra/pipeline/catalog_connector.py
  elyra/pipeline/component.py
  elyra/pipeline/component_catalog.py
  elyra/pipeline/handlers.py
  elyra/pipeline/kfp/component_parser_kfp.py
  elyra/pipeline/kfp/kfp_properties.py
  elyra/pipeline/kfp/processor_kfp.py
  elyra/pipeline/parser.py
  elyra/pipeline/pipeline.py
  elyra/pipeline/pipeline_constants.py
  elyra/pipeline/pipeline_definition.py
  elyra/pipeline/processor.py
  elyra/pipeline/properties.py
  elyra/pipeline/validation.py
  elyra/templates/airflow/airflow_template.jinja2
  elyra/templates/components/canvas_palette_template.jinja2
  elyra/templates/components/canvas_properties_template.jinja2
  elyra/templates/components/generic_properties_template.jinja2
  elyra/templates/kubeflow/v1/generic_component_definition_template.jinja2
  elyra/templates/kubeflow/v1/python_dsl_template.jinja2
  elyra/templates/pipeline/pipeline_properties_template.jinja2
  elyra/tests/pipeline/airflow/test_processor_airflow.py
  elyra/tests/pipeline/kfp/test_component_parser_kfp.py
  elyra/tests/pipeline/kfp/test_processor_kfp.py
  elyra/tests/pipeline/resources/additional_generic_properties.json
  elyra/tests/pipeline/resources/sample_pipelines/pipeline_with_supernode.json
  elyra/tests/pipeline/resources/test_pipelines/kfp/kfp-one-node-generic.pipeline
  elyra/tests/pipeline/resources/validation_pipelines/kf_with_parameters.pipeline
  elyra/tests/pipeline/test_handlers.py
  elyra/tests/pipeline/test_pipeline_constructor.py
  elyra/tests/pipeline/test_pipeline_definition.py
  elyra/tests/pipeline/test_pipeline_parser.py
  elyra/tests/pipeline/test_processor.py
  elyra/tests/pipeline/test_validation.py
  elyra/tests/pipeline/util.py
  packages/pipeline-editor/package.json
  packages/pipeline-editor/src/ParameterInputForm.tsx
  packages/pipeline-editor/src/PipelineEditorWidget.tsx
  packages/pipeline-editor/src/PipelineExportDialog.tsx
  packages/pipeline-editor/src/PipelineSubmissionDialog.tsx
  packages/pipeline-editor/src/pipeline-hooks.ts
  packages/pipeline-editor/style/index.css
  packages/services/src/requests.ts
  packages/ui-components/src/FormDialog.tsx
  packages/ui-components/style/formeditor.css
  packages/ui-components/style/index.css
  yarn.lock
Labels: kind:enhancement, component:pipeline-editor, impact:requires-pipeline-editor-release, sizing: L

#3053 Add documentation for pipeline parameters
  docs/source/images/user_guide/best-practices-file-based-nodes/elyra-node-parameters.png
  docs/source/images/user_guide/pipelines/configure-pipeline-export-options-parameters.gif
  docs/source/images/user_guide/pipelines/configure-pipeline-submit-options-parameters.gif
  docs/source/images/user_guide/pipelines/open-pipeline-parameters.gif
  docs/source/images/user_guide/pipelines/select-parameter.gif
  docs/source/user_guide/best-practices-custom-pipeline-components.md
  docs/source/user_guide/best-practices-file-based-nodes.md
  docs/source/user_guide/pipelines.md
Labels: area:documentation, component:pipeline-editor

#3038 Move build system to use pyproject.toml
  .github/workflows/codeql-analysis.yml
  MANIFEST.in
  Makefile
  build_requirements.txt
  create-release.py
  elyra/contents/handlers.py
  elyra/metadata/handlers.py
  elyra/pipeline/handlers.py
  etc/docker/elyra/Dockerfile
  etc/docker/kubeflow/Dockerfile
  lint_requirements.txt
  packages/code-snippet/package.json
  packages/code-viewer/package.json
  packages/metadata-common/package.json
  packages/metadata/package.json
  packages/pipeline-editor/package.json
  packages/python-editor/package.json
  packages/r-editor/package.json
  packages/scala-editor/package.json
  packages/script-debugger/package.json
  packages/script-editor/package.json
  packages/services/package.json
  packages/theme/package.json
  packages/ui-components/package.json
  pyproject.toml
  pytest.ini
  setup.cfg
  setup.py
Labels: component:build

#3057 Remove jupyter-server-terminal cap and fix release script
  Makefile
  create-release.py
  pyproject.toml
Labels: component:build, priority:high
