Repository elyra-ai/elyra, pull requests merged in 2022-06, with the labels that each got.

#2748 Fix incorrect string replacement in release script
  create-release.py
Labels: kind:bug, component:build

#2742 Update 'elyra-pipeline describe' command
  docs/source/user_guide/command-line-interface.md
  docs/source/user_guide/pipelines.md
  elyra/cli/pipeline_app.py
  elyra/tests/cli/resources/pipelines/generic.pipeline
  elyra/tests/cli/resources/pipelines/notebooks/notebook_1.ipynb
  elyra/tests/cli/resources/pipelines/notebooks/notebook_2.ipynb
  elyra/tests/cli/resources/pipelines/pipeline_with_many_mount.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_with_many_runtime_image.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_with_notebook.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_with_notebooks.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_with_notebooks_and_scripts.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_with_scripts.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_with_zero_nodes.pipeline
  elyra/tests/cli/resources/pipelines/pipeline_with_zero_runtime_image.pipeline
  elyra/tests/cli/resources/pipelines/scripts/script_1.py
  elyra/tests/cli/resources/pipelines/scripts/script_2.py
  elyra/tests/cli/resources/pipelines/scripts/script_3.py
  elyra/tests/cli/test_pipeline_app.py
Labels: kind:enhancement, component:cli-tools

#2756 Fix save as code snippet
  packages/code-snippet/src/index.ts
  packages/metadata-common/src/MetadataEditorWidget.tsx
Labels: kind:bug, component:code-snippets

#2752 Fix release script updates to schemas docs and package desc
  create-release.py
  elyra/metadata/schemas/airflow.json
  elyra/metadata/schemas/code-snippet.json
  elyra/metadata/schemas/kfp.json
  elyra/metadata/schemas/local-directory-catalog.json
  elyra/metadata/schemas/local-file-catalog.json
  elyra/metadata/schemas/runtime-image.json
  elyra/metadata/schemas/url-catalog.json
  etc/templates/setup.py
Labels: kind:bug, component:build

#2761 Fix tag bug
  packages/ui-components/src/FormComponents/Tags.tsx
  packages/ui-components/src/FormEditor.tsx
  packages/ui-components/style/formeditor.css
Labels: kind:bug, component:metadata-editor

#2762 Fix metadata editor being able to open in multiple tabs
  packages/metadata/src/index.ts
Labels: kind:bug, area:front-end, component:metadata-editor

#2764 Fix missing placeholder text in metadata editor
  elyra/metadata/schemas/airflow.json
  elyra/metadata/schemas/kfp.json
  elyra/metadata/schemas/runtime-image.json
Labels: kind:bug, component:metadata-editor

#2768 Trim whitespace to prevent invalid tags in metadata editor
  packages/ui-components/src/FormComponents/Tags.tsx
Labels: kind:bug

#2769 Add errors to tag editor
  packages/ui-components/src/FormComponents/Tags.tsx
Labels: component:metadata-editor

#2776 Add elapsed time information to identify long running pytests
  Makefile
Labels: component:test, kind:CI

#2783 CI: fetch packages info if server tests fail
  .github/workflows/build.yml
  .github/workflows/scripts/fetch_packages_metadata.py
  Makefile
Labels: component:build, kind:CI

#2790 Install jupyterlab during normal builds
  .github/workflows/build.yml
  Makefile
  build_requirements.txt
Labels: component:build

#2800 Fix for Script Editor console does not properly highlight error messages
  packages/script-editor/src/ScriptEditor.tsx
Labels: kind:bug

#2798 Update docs to reflect proper generic op output file usage
  docs/source/user_guide/best-practices-file-based-nodes.md
Labels: kind:bug, area:documentation

#2806 Add GitHub release notes instructions to developer guide
  docs/source/developer_guide/release.md
Labels: area:documentation

#2807 Update developer guide with CI test analysis information
  docs/source/developer_guide/development-workflow.md
  docs/source/images/developer_guide/development-workflow/locate-artifacts.png
  docs/source/images/developer_guide/development-workflow/locate-failed-workflow.png
  docs/source/images/developer_guide/development-workflow/open-workflow-summary.png
Labels: area:documentation

#2809 Update prerequisite details in documentation
  docs/source/developer_guide/development-workflow.md
  docs/source/getting_started/installation.md
Labels: area:documentation

#2804 Add authentication support to URL catalog connector
  docs/source/user_guide/pipeline-components.md
  elyra/metadata/schemas/url-catalog.json
  elyra/pipeline/catalog_connector.py
Labels: kind:enhancement, component:catalog connectors

#2811 [DEV-ONLY] Remove dependency on path location in pipeline tests
  elyra/tests/kfp/test_bootstrapper.py
  elyra/tests/pipeline/kfp/test_component_parser_kfp.py
  elyra/tests/pipeline/kfp/test_processor_kfp.py
Labels: component:test, area:back-end

#2813 Customize rendering of component catalog list
  packages/pipeline-editor/src/ComponentCatalogsWidget.tsx
Labels: kind:enhancement, component:metadata-editor
