Repository elyra-ai/elyra, pull requests merged in 2024-12, with the labels that each got.

#3160 Refactor pipeline implementation to use common pattern for file naming
  elyra/pipeline/airflow/airflow_component_parser.py
  elyra/pipeline/airflow/airflow_processor.py
  elyra/pipeline/component.py
  elyra/pipeline/kfp/kfp_component_parser.py
  elyra/pipeline/kfp/kfp_processor.py
  elyra/pipeline/local/local_processor.py
  elyra/tests/pipeline/airflow/test_processor_airflow.py
  elyra/tests/pipeline/kfp/conftest.py
  elyra/tests/pipeline/kfp/test_kfp_component_parser.py
  elyra/tests/pipeline/kfp/test_kfp_processor.py
  elyra/tests/pipeline/local/test_pipeline_processor_local.py
  elyra/tests/pipeline/test_processor.py
  pyproject.toml
Labels: component:pipeline-runtime, platform: pipeline-Kubeflow, platform: pipeline-Airflow, platform: pipeline-local, impact:breaking change

#3145 Update repository readme and documentation with JupyterLab v4 information
  COMMITTERS.csv
  README.md
  docs/source/developer_guide/contributing.md
  docs/source/getting_started/installation.md
Labels: area:documentation

#3167 Make generic pipeline work with airflow2x
  docs/source/getting_started/changelog.md
  docs/source/getting_started/tutorials.md
  docs/source/recipes/configure-airflow-as-a-runtime.md
  docs/source/user_guide/best-practices-custom-pipeline-components.md
  docs/source/user_guide/pipeline-components.md
  elyra/pipeline/airflow/airflow_processor.py
  elyra/templates/airflow/airflow_template.jinja2
  elyra/tests/pipeline/airflow/test_processor_airflow.py
Labels: platform: pipeline-Airflow

#3141 Remove obsolete read_entry_data method from class ComponentCatalogConnector
  elyra/pipeline/catalog_connector.py
Labels: component:catalog connectors, impact:breaking change
